name: Build, Test and Publish to NuGet

on: 
  push:
    branches: ["main"]

env:
  DOTNET_VERSION: '10.x.x'
  BUILD_CONFIGURATION: 'Release'

jobs:
  build-and-publish:
    runs-on: windows-latest
    defaults:
      run:
        working-directory: src
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
 
      - name: Restore dependencies
        run: dotnet restore

      - name: Build the solution
        run: dotnet build --configuration ${{ env.BUILD_CONFIGURATION }} --no-restore 
    
      - name: Package the library project
        run: dotnet pack --configuration ${{ env.BUILD_CONFIGURATION }} --output ./nupkgs
   
      - name: Publish to nuget.org
        run: dotnet nuget push  ./nupkgs/*.nupkg  --source https://api.nuget.org/v3/index.json --api-key ${{secrets.NUGET_API_KEY}} --skip-duplicate
        working-directory: src








