name: publish

on: 
  push:
    branches: ["main"]

jobs:
  publish:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.x.x

      - name: Remove Demo
        run: dotnet slnx src/SnowyRiver.slnx remove Demo
 
      - name: Restore dependencies
        run: dotnet restore src/SnowyRiver.slnx

      - name: Build
        run: dotnet build --configuration Release --no-restore src/SnowyRiver.slnx
    
      - name: Create the package
        run: dotnet pack --output artifacts src/SnowyRiver.slnx
   
      - name: Publish to nuget.org
        run: dotnet nuget push artifacts\*.nupkg  --source https://api.nuget.org/v3/index.json --api-key ${{secrets.NUGET_API_KEY}} --skip-duplicate



